<!DOCTYPE html>
<html>
    <head>
        <title>VibeChecker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="container">
        <div id="chat"> 
              <h2>What's the vibe?</h2>
        </div>

        <div class="input-bar">
            <input id="message" type="text" placeholder="Type your message here...">
            <button id="send">Send</button>
        </div>
        </div>
    </body>
    <script src="../static/js/script.js"></script>
</html>